*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Header{
    background-color: black;
    color: white;
    padding-left: 20px;
    
    display: flex;
    justify-content: space-between;
    height: 60px;
}
#logout-btn{
    height: 35px;
    width: 60px;
    /* background-color: #f82929; */
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 20px;
}
#logout-btn:hover{
    /* color: rgb(177, 179, 32); */
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.body{
    height: 714px;
    background-color: #212121;
    color: white;
}
.body p{
    color: #E2E2E2;
    font-family: "Archivo Black", sans-serif;
    font-weight:400;
    font-style: normal;
    font-size: 50px;

    padding-left: 20%;
    padding-top: 7%;

    margin-bottom: 50px;
}
#boxes{
    display: flex;
}
#employee-list{
    margin-left: 300px;
    padding: 20px;

    width: 200px;
    height: 100px;

    background-color: #ffffff0d;
    border-radius: 20px;

    border: solid 1px transparent;
   
    display: flex;
    align-items: center;
    padding-left: 42px;

}
#employee-list:hover{
    border: solid 1px white;
    cursor: pointer;
}

#create-employee{
    margin-left: 50px;
    padding: 20px;

    width: 200px;
    height: 100px;

    background-color: #ffffff0d;
    border-radius: 20px;

    border: solid 1px transparent;
    display: flex;
    align-items: center;
    padding-left: 42px;
}
#create-employee:hover{
    border: solid 1px white;
    cursor: pointer;
}